extends layout

block content
   .main
    .row
      .col-md-6
        form(method='POST' action='/searchList')
          div.form-group
            label(for='type') Search Type
            select.form-control(type ='select' id='type' placeholder='type' name='type')
                option(value = 'title') Title
                option(value = 'artist') Artist
                option(value = 'tag') Tag
                option(value = 'country') Country
            label(for='keyword') Find top 40 songs by 
            input.form-control(type='text' id='keyword' placeholder='Enter search term' name='keyword')
          button.btn.btn-primary(type='submit') Search